<div class="topButtons">
  <button class="uk-button uk-button-primary" uk-toggle="target: #company-employees-modal">Create</button>
  <button class="uk-button uk-button-danger" (click)="deleteItem()">Delete</button>
</div>

<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>
        <input type="checkbox" [checked]="toggledAll" id="all" (change)="toggleAll($event)">
      </th>
      <th>Employee ID</th>
      <th>Prev EmpID</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>MIddle Name</th>
      <th>Suffix Name</th>
      <th>Position Name</th>
      <th>Outlet Name</th>
      <th>Pay Period</th>
      <th>Rate Daily</th>
      <th>Bank No</th>
      <th>Date Hired</th>
      <th>Hold Bank Reason</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td>
        <input type="checkbox" [disabled]="toggledAll" [checked]="toggledAll" (change)="toggleItem($event, value)">
      </td>
      <td>{{value.empId}}</td>
      <td>{{value.prevId}}</td>
      <td>{{value.lastName}}</td>
      <td>{{value.firstName}}</td>
      <td>{{value.middleName}}</td>
      <td>{{value.suffixName}}</td>
      <td>{{value.position}}</td>
      <td>{{value.outlet}}</td>
      <td>{{value.payPeriod}}</td>
      <td>{{value.rateDaily}}</td>
      <td>{{value.bankAccountNumber}}</td>
      <td>{{value.dateHired}}</td>
      <td>{{value.holdBankReason}}</td>
    </tr>
  </tbody>
</table>

<app-modal uk-modal id="company-employees-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Employee Info</h2>
  </div>
  <div class="uk-modal-body">
    <div>
      <div uk-grid>
        <div class="uk-width-auto@m">
          <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
            <li *ngFor="let tab of tabs; let index = index;">
              <a href="#">{{tab.label}}</a>
            </li>
          </ul>
        </div>
        <div class="uk-width-expand@m">
          <ul id="component-tab-left" class="uk-switcher">
            <li *ngFor="let tab of tabs; let index = index;">
              <formly-form [form]="form[index]" [model]="model" [fields]="tab.fields" [options]="options[index]">
              </formly-form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>
