<button class="uk-button uk-button-primary" uk-toggle="target: #transaction-dailyleave-modal">Create</button>

<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>Pay Period</th>
      <th>TxDateStart</th>
      <th>TxDateEnd</th>
      <th>Employee ID</th>
      <th>Employee ID</th>
      <th>Full Name</th>
      <th>Company ID</th>
      <th>Outlet ID</th>
      <th>Outlet Name</th>
      <th>Leave ID</th>
      <th>Leave Description</th>
      <th>Total Hour</th>
      <th>Used Hour</th>
      <th>Balance Hour</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td>{{value.payPeriod}}</td>
      <td>{{value.txDateStart}}</td>
      <td>{{value.txDateEnd}}</td>
      <td>{{value.empId}}</td>
      <td>{{value.fullName}}</td>
      <td>{{value.companyId}}</td>
      <td>{{value.outletId}}</td>
      <td>{{value.outletName}}</td>
      <td>{{value.leaveId}}</td>
      <td>{{value.leaveDesc}}</td>
      <td>{{value.totalHour}}</td>
      <td>{{value.usedHour}}</td>
      <td>{{value.balanceHour}}</td>
      <td>{{value.note}}</td>
    </tr>
  </tbody>
</table>

<app-modal uk-modal id="transaction-dailyleave-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Daily Leave</h2>
  </div>
  <div class="uk-modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>
    </form>
  </div>
  <div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>
