<button class="uk-button uk-button-primary" uk-toggle="target: #stat-pagibig-modal">Create</button>

<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Range Start</th>
      <th>Range End</th>
      <th>ER</th>
      <th>EE</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td>{{value.id}}</td>
      <td>{{value.description}}</td>
      <td>{{value.rangeStart}}</td>
      <td>{{value.rangeEnd}}</td>
      <td>{{value.ER}}</td>
      <td>{{value.EE}}</td>
      <td>{{value.total}}</td>
    </tr>
  </tbody>
</table>

<app-modal uk-modal id="stat-pagibig-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Pag-Ibig (HMO) Table</h2>
  </div>
  <div class="uk-modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
        <!-- <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button> -->
      </formly-form>
    </form>
  </div>
  <div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>
