<button class="uk-button uk-button-primary" uk-toggle="target: #stat-dailyrate-modal">Create</button>

<table class="uk-table uk-table-striped">
  <thead>
      <tr>
          <th>ID</th>
          <th>Description</th>
          <th>BASC</th>
          <th>BSND</th>
          <th>BSOT</th>
          <th>OTND</th>
          <th>FHRS</th>
          <th>FPLS</th>
          <th>SPLS</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let value of values">
          <td>{{value.id}}</td>
          <td>{{value.description}}</td>
          <td>{{value.BASC}}</td>
          <td>{{value.BSND}}</td>
          <td>{{value.BSOT}}</td>
          <td>{{value.OTND}}</td>
          <td>{{value.FHRS}}</td>
          <td>{{value.FPLS}}</td>
          <td>{{value.SPLS}}</td>
      </tr>
  </tbody>
</table>

<app-modal uk-modal id="stat-dailyrate-modal">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Daily Rate Table</h2>
    </div>
    <div class="uk-modal-body">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
        </formly-form>
      </form>
    </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
    </div>
</app-modal>
