<button class="uk-button uk-button-primary" uk-toggle="target: #maintenance-leavebal-modal">Create</button>

<div>
  <ul uk-tab="connect: #component-tab; animation: uk-animation-fade">
    <li class="uk-active">
      <a href="">General</a>
    </li>
    <li>
      <a href="">Leave Credit</a>
    </li>
  </ul>
</div>
<div>
  <ul id="component-tab" class="uk-switcher">
    <li>
      <table class="uk-table uk-table-striped">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Full Name</th>
            <th>Company ID</th>
            <th>Outlet ID</th>
            <th>Outlet Name</th>
            <th>Date Hired</th>
            <th>Total Hours</th>
            <th>Used Hours</th>
            <th>Balance Hour</th>
            <th>Update By</th>
            <th>Update Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let value of values">
            <td>{{value.empId}}</td>
            <td>{{value.fullName}}</td>
            <td>{{value.companyId}}</td>
            <td>{{value.outletId}}</td>
            <td>{{value.outletName}}</td>
            <td>{{value.dateHired}}</td>
            <td>{{value.genTotalHour}}</td>
            <td>{{value.genUsedHour}}</td>
            <td>{{value.genBalanceHour}}</td>
            <td>{{value.updateBy}}</td>
            <td>{{value.updateDate}}</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <table class="uk-table uk-table-striped">
        <thead>
          <tr>
            <th>Leave ID</th>
            <th>Leave Description</th>
            <th>Total Hour</th>
            <th>Used Hour</th>
            <th>Balance Hour</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let value of values">
            <td>{{value.leaveDesc}}</td>
            <td>{{value.credTotalHour}}</td>
            <td>{{value.credUsedHour}}</td>
            <td>{{value.credBalanceHour}}</td>
            <td>{{value.note}}</td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>

<app-modal uk-modal id="maintenance-leavebal-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Leave Balances</h2>
  </div>
  <div class="uk-modal-body">
    <div>
      <div uk-grid>
        <div class="uk-width-auto@m">
          <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
            <li *ngFor="let tab of tabs;let index = index;">
              <a href="#">{{tab.label}}</a>
            </li>
          </ul>
        </div>
        <div class="uk-width-expand@m">
          <ul id="component-tab-left" class="uk-switcher">
            <li *ngFor="let tab of tabs; let index = index;">
              <formly-form [form]="form[index]"
              [model]="model"
              [fields]="tab.fields"
              [options]="options[index]">
              </formly-form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>

