<li class="usermain">
  <a class="uk-icon-link" uk-icon="user"> My Profile &nbsp; </a>
  <div class="uk-navbar-dropdown">
      <ul class="uk-nav uk-navbar-dropdown-nav uk-text-right">
          <li><a class="uk-icon-link" uk-icon="user"> My Account &nbsp; </a></li>
          <li class="uk-margin-small-top"><a class="uk-icon-link" uk-icon="question"> Help &nbsp; </a></li>
          <li class="uk-margin-small-top"><a class="uk-icon-link" uk-icon="settings"> Tools &nbsp; </a></li>
          <li class="uk-nav-divider uk-margin-small-top"></li>
          <li><a class="uk-icon-link" uk-icon="sign-out" (click)="submit()"> Logout &nbsp; </a></li>
      </ul>
  </div>
</li>
