.usermain > a {
  color: #999;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color,background-color;
  }
  .usermain > a, .uk-navbar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  padding: 0 15px;
  font-size: .875rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  text-decoration: none;
  }
