<button class="uk-button uk-button-primary" uk-toggle="target: #stat-sss-modal">Create</button>

<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>ROC Start</th>
      <th>ROC End</th>
      <th>MSC</th>
      <th>SSER</th>
      <th>SSEE</th>
      <th>ECER</th>
      <th>SSTotal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td>{{value.id}}</td>
      <td>{{value.description}}</td>
      <td>{{value.rocStart}}</td>
      <td>{{value.rocEnd}}</td>
      <td>{{value.MSC}}</td>
      <td>{{value.SSER}}</td>
      <td>{{value.SSEE}}</td>
      <td>{{value.ECER}}</td>
      <td>{{value.SsTotal}}</td>
    </tr>
  </tbody>
</table>

<app-modal uk-modal id="stat-sss-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">SSS Table</h2>
  </div>
  <div class="uk-modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>
    </form>
  </div>
  <div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>
