<!-- <div id="profile-modal-sections" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Add Profile</h2>
    </div>
    <div class="uk-modal-body">
      <div>
        <form  [formGroup]="form" (ngSubmit)="submit()">
          <div uk-grid>
            <div class="uk-width-auto@m">
              <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                <li *ngFor="let tab of tabs;let index = index;">
                  <a href="#">{{tab.label}}</a>
                </li>
              </ul>
            </div>
            <div class="uk-width-expand@m">
              <ul id="component-tab-left" class="uk-switcher">
                <li *ngFor="let tab of tabs; let index = index;">
                  <formly-form [form]="form[index]"
                  [model]="model"
                  [fields]="tab.fields"
                  [options]="options[index]">
                  </formly-form>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
      <button class="uk-button uk-button-primary" type="button" (click)="submit()">Save</button>
    </div>
  </div>
</div> -->

<div class="app-modal">
  <div class="app-modal-body uk-modal-body">
      <ng-content>

      </ng-content>
  </div>
</div>
<div class="app-modal-background"></div>
