app-modal {
  display: none;
  visibility: hidden;
}

.app-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .app-modal-background */
  z-index: 1000;

  /* enables scrolling for tall modals */
  overflow: auto;
}
.app-modal-body {
  padding: 20px;
  background: #fff;

  /* margin exposes part of the modal background */
  margin: 40px;
}
.app-modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .app-modal and above everything else  */
  z-index: 900;
}
