<div class="topButtons">
  <button class="uk-button uk-button-primary" uk-toggle="target: #company-salary-modal">Create</button>
  <button class="uk-button uk-button-danger" (click)="deleteItem()">Delete</button>
</div>
<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>
        <input type="checkbox" [checked]="toggledAll" id="all" (change)="toggleAll($event)">
      </th>
      <th>ID</th>
      <th>Description</th>
      <th>Note</th>
      <th>Rate Monthly</th>
      <th>Rate Daily</th>
      <th>Rate Hourly</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td>
        <input type="checkbox" [disabled]="toggledAll" [checked]="toggledAll" [id]="value.id" (change)="toggleItem($event, value)">
      </td>
      <td>{{value.id}}</td>
      <td>{{value.description}}</td>
      <td>{{value.note}}</td>
      <td>{{value.rateMonthly}}</td>
      <td>{{value.rateDaily}}</td>
      <td>{{value.rateHourly}}</td>
    </tr>
  </tbody>
</table>

<app-modal uk-modal id="company-salary-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Salary Table</h2>
  </div>
  <div class="uk-modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>
    </form>
  </div>
  <div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>
