<button class="uk-button uk-button-primary" uk-toggle="target: #transaction-earnings-modal">Create</button>

<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Full Name</th>
      <th>Company ID</th>
      <th>Outlet ID</th>
      <th>Outlet Name</th>
      <th>Pay Period</th>
      <th>TxDate</th>
      <th>Earning ID</th>
      <th>Earning Description</th>
      <th>Earning Type</th>
      <th>Type Description</th>
      <th>Schedule Mode</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td>{{value.empId}}</td>
      <td>{{value.fullName}}</td>
      <td>{{value.companyId}}</td>
      <td>{{value.outletId}}</td>
      <td>{{value.outletName}}</td>
      <td>{{value.payPeriod}}</td>
      <td>{{value.txDate}}</td>
      <td>{{value.earningId}}</td>
      <td>{{value.earningDescription}}</td>
      <td>{{value.earningType}}</td>
      <td>{{value.typeDescription}}</td>
      <td>{{value.scheduleMode}}</td>
      <td>{{value.amount}}</td>
    </tr>
  </tbody>
</table>

<app-modal uk-modal id="transaction-earnings-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Earnings</h2>
  </div>
  <div class="uk-modal-body">
    <div>
      <div uk-grid>
        <div class="uk-width-auto@m">
          <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
            <li *ngFor="let tab of tabs;let index = index;">
              <a href="#">{{tab.label}}</a>
            </li>
          </ul>
        </div>
        <div class="uk-width-expand@m">
          <ul id="component-tab-left" class="uk-switcher">
            <li *ngFor="let tab of tabs; let index = index;">
              <formly-form [form]="form[index]" [model]="model" [fields]="tab.fields" [options]="options[index]">
              </formly-form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>
