<button class="uk-button uk-button-primary" uk-toggle="target: #maintenance-holidaysetup-modal">Create</button>

<table class="uk-table uk-table-striped">
  <thead>
      <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Date</th>
          <th>Allowed Outlet</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let value of values">
          <td>{{value.id}}</td>
          <td>{{value.description}}</td>
          <td>{{value.date | date}}</td>
          <td>{{value.allowedOutlet}}</td>
      </tr>
  </tbody>
</table>

<app-modal uk-modal id="maintenance-holidaysetup-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
      <h2 class="uk-modal-title">Holiday Setup</h2>
  </div>
  <div class="uk-modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>
    </form>
  </div>
  <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
      <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>
