.box {
    margin: 50px auto;
    background: #5FCF80;
    width: 150px;
    height: 150px;
  }

  .box:hover {
    -webkit-transform: rotate(360deg);
    background: #9351A6;
    border-radius: 50%;
  }

  .rotate {
    -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
  }

  .rotate:hover {
    -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
  }
.loginForm > form
{
  margin: 0 auto;
}

.uk-navbar-dropdown-width-2:not(.uk-navbar-dropdown-stack) {
  width: 900px;
}

mwlResizable {
  box-sizing: border-box;
  /* required for the enableGhostResize option to work */
}


.rectangle {
  position: relative;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  background-color: #fd4140;
  border: solid 1px #121621;
  color: #121621;
  margin: auto;
}
.resize-handle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: se-resize;
}
