<div *ngIf="!loggedin" class="loginForm uk-position-center">
  <form>
    <div class="uk-margin">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input class="uk-input" type="text">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-margin-auto uk-margin-auto-vertical">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <input class="uk-input" type="password">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-margin-auto uk-margin-auto-vertical">
        <select class="uk-select uk-width-1-1">
          <option>Company A</option>
          <option>Company B</option>
        </select>
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-margin uk-text-right">
        <button class="uk-button uk-button-primary" (click)="submit()">
          Login
        </button>
      </div>
    </div>
  </form>
</div>

<div class="uk-position-relative">

  <nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left"  *ngIf="loggedin" >

      <ul class="uk-navbar-nav uk-visible@m">
        <li>
          <a href="#">Maintenance</a>
          <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
            <div class="uk-navbar-dropdown-grid" uk-grid>
              <div>
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active">
                    <a href="#">Company</a>
                  </li>
                  <li class="uk-nav-divider"></li>
                  <li>
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                      <div>
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li>
                            <a routerLink="/company/area/">Area</a>
                          </li>
                          <li>
                            <a routerLink="/company/department/">Department</a>
                          </li>
                          <li>
                            <a routerLink="/company/division/">Division</a>
                          </li>
                          <li>
                            <a routerLink="/company/employees/">Employees</a>
                          </li>
                          <li>
                            <a routerLink="/company/lockunlockpayperiod/">Lock Unlock Pay Period</a>
                          </li>
                        </ul>
                      </div>
                      <div>
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li>
                            <a routerLink="/company/outlet/">Outlet</a>
                          </li>
                          <li>
                            <a routerLink="/company/profile/">Profile</a>
                          </li>
                          <li>
                            <a routerLink="/company/position/">Position</a>
                          </li>
                          <li>
                            <a routerLink="/company/salarytable/">Salary Table</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div>
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active">
                    <a href="#">Statutory</a>
                  </li>
                  <li class="uk-nav-divider"></li>
                  <li>
                    <a routerLink="/maintenance/statutory/dailyrate">Daily Rate</a>
                  </li>
                  <li>
                    <a routerLink="/maintenance/statutory/pagibig">Pag-Ibig</a>
                  </li>
                  <li>
                    <a routerLink="/maintenance/statutory/philhealth">Phil-Health</a>
                  </li>
                  <li>
                    <a routerLink="/maintenance/statutory/sss">SSS</a>
                  </li>
                  <li>
                    <a routerLink="/maintenance/statutory/withholding">WithHolding</a>
                  </li>
                </ul>
              </div>
              <div>
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active">
                    <a href="#">Others</a>
                  </li>
                  <li class="uk-nav-divider"></li>
                  <li>
                    <a routerLink="/maintenance/dailyschedule">Daily Schedule</a>
                  </li>
                  <li>
                    <a routerLink="/maintenance/deduction">Deduction</a>
                  </li>
                  <li>
                    <a routerLink="/maintenance/holidaysetup">Holiday</a>
                  </li>
                  <li>
                    <a routerLink="/maintenance/leavebalances">Leave Balances</a>
                  </li>
                  <li>
                    <a routerLink="/maintenance/useraccount">User Accounts</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#">Transaction</a>
          <div class="uk-navbar-dropdown uk-navbar-dropdown-width-3">
            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
              <div>
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li>
                    <a routerLink="/transaction/dailyleave">Daily Leave</a>
                  </li>
                  <li>
                    <a routerLink="/transaction/transactiondeduction">Deduction</a>
                  </li>
                  <li>
                    <a routerLink="/transaction/earnings">Earnings</a>
                  </li>
                  <li>
                    <a routerLink="/transaction/processpayroll">Process Payroll</a>
                  </li>
                  <li>
                    <a routerLink="/transaction/timekeeping">Time Keeping</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
            <a href="#">Account Recievables</a>
        </li>
        <li>
            <a href="#">Reports</a>
        </li>
      </ul>

    </div>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
        <li>
          <a class="uk-navbar-item uk-logo" href="#">Logo</a>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right uk-margin-small-right">
      <ul class="uk-navbar-nav uk-visible@m">
          <!-- <li class="uk-active"><a href="#">Tools</a></li>
          <li><a href="#">Window</a></li>
          <li><a href="#">Help</a></li> -->
          <li>
            <app-useraccess></app-useraccess>
          </li>
      </ul>
    </div>
  </nav>

  <!-- <div
        class="rectangle"
        [ngStyle]="style"
        mwlResizable
        [validateResize]="validate"
        [resizeEdges]="{bottom: true, right: false, top: true, left: false}"
        [enableGhostResize]="true"
        [resizeSnapGrid]="{left: 50, right: 50}"
        (resizeEnd)="onResizeEnd($event)">
        <img
          src="http://i.imgur.com/eqzz2dl.gif">
      </div> -->

</div>
<router-outlet *ngIf="loggedin"></router-outlet>
