/* MODAL STYLES
-------------------------------*/
app-modal {
  /* modals are hidden by default */
  display: none;

  .app-modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* z-index must be higher than .app-modal-background */
      z-index: 1000;

      /* enables scrolling for tall modals */
      overflow: auto;

      .app-modal-body {
          padding: 20px;
          background: #fff;

          /* margin exposes part of the modal background */
          margin: 40px;
      }
  }

  .app-modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;

      /* z-index must be below .app-modal and above everything else  */
      z-index: 900;
  }
}

body.app-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}


/* EXAMPLE STYLES
-------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

nav {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;

  a {
      margin-right: 8px;
  }
}

h1 {
  font-weight: normal;
  margin-top: 0;
}

input[type="text"] {
  display:block;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.credits {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  text-align: center;
}
