<button class="uk-button uk-button-primary" uk-toggle="target: #transaction-timekeeping-modal">Create</button>

<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Full Name</th>
      <th>Company ID</th>
      <th>Outlet ID</th>
      <th>Outlet Name</th>
      <th>Pay Period</th>
      <th>TxDate</th>
      <th>Regular Hour</th>
      <th>OT Hour</th>
      <th>OTND Hour</th>
      <th>ND Hour</th>
      <th>Absent Hour</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td>{{value.empId}}</td>
      <td>{{value.fullName}}</td>
      <td>{{value.companyId}}</td>
      <td>{{value.outletId}}</td>
      <td>{{value.outletName}}</td>
      <td>{{value.payPeriod}}</td>
      <td>{{value.txDate}}</td>
      <td>{{value.regHour}}</td>
      <td>{{value.otHour}}</td>
      <td>{{value.otndHour}}</td>
      <td>{{value.ndHour}}</td>
      <td>{{value.absentHour}}</td>
      <td>{{value.totalAmount}}</td>
    </tr>
  </tbody>
</table>

<app-modal uk-modal id="transaction-timekeeping-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Timekeeping</h2>
  </div>
  <div class="uk-modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>
    </form>
  </div>
  <div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>
