<button class="uk-button uk-button-primary" uk-toggle="target: #stat-withholding-modal">Create</button>

<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>Tax Type</th>
      <th>Exempt Status</th>
      <th>Exempt Amount</th>
      <th>Amount 1</th>
      <th>Over 1</th>
      <th>Percent 1</th>
      <th>Amount 2</th>
      <th>Over 2</th>
      <th>Percent 2</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td>{{value.taxType}}</td>
      <td>{{value.exemptStatus}}</td>
      <td>{{value.exemptAmount}}</td>
      <td>{{value.amountOne}}</td>
      <td>{{value.overOne}}</td>
      <td>{{value.percentOne}}</td>
      <td>{{value.amountTwo}}</td>
      <td>{{value.overTwo}}</td>
      <td>{{value.percentTwo}}</td>
    </tr>
  </tbody>
</table>

<app-modal uk-modal id="stat-withholding-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Withholding Tax</h2>
  </div>
  <div class="uk-modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>
    </form>
  </div>
  <div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>
