<button class="uk-button uk-button-primary" uk-toggle="target: #maintenance-useracct-modal">Create</button>

<table class="uk-table uk-table-striped">
  <thead>
      <tr>
          <th>User ID</th>
          <th>Full Name</th>
          <th>Level</th>
          <th>Access Group</th>
          <th>E-mail</th>
          <th>Active</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let value of values">
          <td>{{value.id}}</td>
          <td>{{value.fullName}}</td>
          <td>{{value.level}}</td>
          <td>{{value.group}}</td>
          <td>{{value.email}}</td>
          <td><input type="checkbox" [checked]="value.isActive"></td>
      </tr>
  </tbody>
</table>

<app-modal uk-modal id="maintenance-useracct-modal">
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
      <h2 class="uk-modal-title">User Account</h2>
  </div>
  <div class="uk-modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>
    </form>
  </div>
  <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
      <button class="uk-button uk-button-primary" type="button" (click)='submit()'>Save</button>
  </div>
</app-modal>
