<div class="topButtons">
  <button class="uk-button uk-button-primary" uk-toggle="target: #company-profile-modal">Create</button>
  <button class="uk-button uk-button-danger" (click)="deleteItem()">Delete</button>
</div>
<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>
        <input type="checkbox" [checked]="toggledAll" id="all" (change)="toggleAll($event)">
      </th>
      <th>ID</th>
      <th>Company Name</th>
      <th>Address</th>
      <th>Mobile Number</th>
      <th>Telephone Number</th>
      <th>Fax Number</th>
      <th>SSS</th>
      <th>Sched SSS</th>
      <th>PhilHealth</th>
      <th>Sched PhilHealth</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td>
        <input type="checkbox" [disabled]="toggledAll" [checked]="toggledAll" [id]="value.id" (change)="toggleItem($event, value)">
      </td>
      <td>{{value.id}}</td>
      <td>{{value.companyName}}</td>
      <td>{{value.address}}</td>
      <td>{{value.mobileNo}}</td>
      <td>{{value.telephoneNo}}</td>
      <td>{{value.faxNo}}</td>
      <td>{{value.sss}}</td>
      <td>{{value.schedSSS}}</td>
      <td>{{value.philHealth}}</td>
      <td>{{value.schedPhilHealth}}</td>
    </tr>
  </tbody>
</table>


<app-modal id="company-profile-modal" uk-modal>
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Profile Info</h2>
  </div>
  <div class="uk-modal-body">
    <div>
      <div uk-grid>
        <div class="uk-width-auto@m">
          <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
            <li *ngFor="let tab of tabs;let index = index;">
              <a href="#">{{tab.label}}</a>
            </li>
          </ul>
        </div>
        <div class="uk-width-expand@m">
          <ul id="component-tab-left" class="uk-switcher">
            <li *ngFor="let tab of tabs; let index = index;">
              <formly-form [form]="form[index]" [model]="model" [fields]="tab.fields" [options]="options[index]">
              </formly-form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close" (click)="closeModal()">Close</button>
    <button class="uk-button uk-button-primary" (click)="submit()">Save</button>
  </div>
</app-modal>
